* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    text-align: center;
}
select{
    width: 500px;
    height: 100px;
    font-size: 50px;
}
section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 0 50% 0;
    align-self: center;
}
h1 {
    color: black;
    text-shadow: 3px 3px 0 crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 120px;
    letter-spacing: 4px;
    margin-top: 12vh;
}
input {
    width: 500px;
    height: 100px;
    font-size: 50px;
    font-family: monospace;
    padding: 10px 20px;
    transition: border-color 0.5s ease-out;
}
textarea {
    width: 1000px;
    height: 500px;
    font-size: 45px;
    resize: none;
    padding: 10px 20px;
}
label {
    display: block;
    font-size: 50px;
    padding: 10px 0;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputField {
    margin: 20px 0;
}
.inputField label {
    padding-right: 10px;
}
html {
    background-color: darkgray;
}
footer {
    z-index: 2;
    position: static;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}
footer h6 {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

footer h6 a {
    color: darkblue;
}
input[type="submit"]{
    font-weight: bolder;
}
input[type="submit"]:hover {
    background-color: cadetblue;
}
input:required:valid {
border: 2px solid green;
}
input:invalid {
border: 2px solid red;
}
textarea:required:valid {
    border: 2px solid green;
}
textarea:invalid {
    border: 2px solid red;
}
select:required:valid {
    border: 2px solid green;
}
select:invalid {
    border: 2px solid red;
}

@media only screen and (max-width: 600px){
    h1 {
        text-align: center;
        font-size: 300%;
        letter-spacing: 4px;
        margin-top: 12vh;
    }
    input {
        width: 65%;
        height: 30%;
        font-size: 20px;
    }
    textarea {
        width: 65%;
        height: 30%;
        font-size: 15px;
        resize: none;
    }
    #submit {
        height: 10%;
        padding: 0;
        margin: 0;
    }   
    footer {
        display: flex;
        width: 100%;
        height: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}